<div class="row">
    <div class="col s12 m12 l12 xl12">
        <h1><%= chapter.title %></h1>

        <%- chapter.content %>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12">

        <% if (chapter.xtype == 'PRUEBA') { %>
            <% if (chapter.terminated) { %>
            <p align="center" style="background-color:#C11414; color:white; padding:5px;">
                <b>Terminada con <%= chapter.calification %> puntos de 100</b>
            </p>
            <% } %>

            <% chapter.questions.forEach(function(question) { %>
                <b><%= question.title %></b>
                <br/>
                    <% question.answers.forEach(function(answer){ %>
                    <p>
                        <% if (question.terminated) { %>
                            <% if (question.answer_choosen == answer.id) { %>
                                <b><%= answer.title %></b>
                            <% } else { %>
                                <%= answer.title %>
                            <% } %>
                            <% if (question.answer == answer.id) { %>
                                <span style="color:gray;">&#10004;</span>
                            <% } %>
                        <% } else { %>
                        <% var checked = answer.choosen ? 'checked' : '' %>
                        <label>
                            <input class="with-gap answer" name="<%= question.id %>" value="<%= answer.id %>" <%= checked %> type="radio"/>
                            <span><%= answer.title %></span>
                        </label>

                        <a href="#!" class="link link-simple" data-command="ESCUELA RESPONDER" data-query="<%= answer.id %>"></a>
                        <% } %>
                    </p>
                    <% }); %>
            <% }); %>
        <% } %>
    </div>
</div>

<% if (chapter.xtype == 'PRUEBA') { %>
    <!-- SAVE BUTTON -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="submitTest()"><i class="material-icons">send</i></a>
    </div>
<% } %>
<div class="row">
    <div class="col s12 m12 l12 xl12">

    <% if (chapter.xtype == 'PRUEBA' && course.all_chapters_finished) { %>
    <a href="#!" class="link link-simple waves-effect waves-light btn" data-command = "ESCUELA CURSO" data-query = "<%= chapter.course %>">&Iacute;ndice</a>
    <% } else { %>
        <% if (before) { %>
        <a href="#!" class="link link-simple waves-effect waves-light btn" data-command = "ESCUELA <%= before.xtype %>" data-query="<%= before.id %>"><i class="material-icons circle">arrow_back</i> Anterior</a>
        <% } %>
        <a href="#!" class="link link-simple waves-effect waves-light btn" data-command = "ESCUELA CURSO" data-query="<%= chapter.course %>">&Iacute;ndice</a>

        <% if (after) {%>
            <a href="#!" class="link link-simple waves-effect waves-light btn" data-command = "ESCUELA <%= after.xtype %>" data-query="<%= after.id %>">Siguiente <i class="material-icons circle">arrow_forward</i></a>
        <% } %>
    <% } %>
    </div>
</div>