<div class="row">
    <div class="col s12 m12 l12 xl12">
        <h1><%= chapter.title %></h1>

        <%- chapter.content %>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12">

        <% if (chapter.xtype == 'PRUEBA') { %>
            <% if (chapter.terminated) { %>
            <p align="center" style="background-color:#C11414; color:white; padding:5px;">
                <b>Terminada con <%= chapter.calification %> puntos de 100</b>
            </p>
            <% } %>

            <% chapter.questions.forEach(function(question) { %>
               <%= question.title %>
                <br/>
                    <% question.answers.forEach(function(answer){ %>
                    <% if (question.terminated) { %>
                        <% if (question.answer_choosen == answer.id) { %>
                            <b><%= answer.title %></b>
                        <% } else { %>
                            <%= answer.title %>
                        <% } %>
                        <% if (question.answer == answer.id) { %>
                            <span style="color:gray;">&#10004;</span>
                        <% } %>
                    <% } else { %>
                    <% var checked = answer.choosen ? 'checked' : '' %>
                    <label>
                        <input class="with-gap answer" name="<%= question.id %>" value="<%= answer.id %>" <%= checked %> type="radio"/>
                        <span><%= answer.title %></span>
                    </label>

                    <a href="#!" class="link link-simple" data-command="ESCUELA RESPONDER" data-query="<%= answer.id %>"></a>
                    <% } %>
                    <br/>
                    <% }); %>
            <% }); %>
        <% } %>
    </div>
</div>

<% if (chapter.xtype != 'PRUEBA') { %>
<div class="row">
    <div class="col s12 m12 l12 xl12 center-align">

    <% if (!(chapter.xtype == 'PRUEBA' && course.all_chapters_finished)) { %>
        <% if (before) { %>
        <a href="#!" class="link link-simple waves-effect waves-light btn center-align" data-command = "ESCUELA <%= before.xtype %>" data-query="<%= before.id %>"><i class="material-icons left">arrow_back</i> Anterior</a> &nbsp;
        <% } %>
        <% if (after) {%>
            <a href="#!" class="link link-simple waves-effect waves-light btn center-align" data-command = "ESCUELA <%= after.xtype %>" data-query="<%= after.id %>"><i class="material-icons right">arrow_forward</i>Siguiente</a>
        <% } %>
    <% } %>
    </div>
</div>
<% } %>

<% if (chapter.xtype == 'PRUEBA') { %>
<div class="row left-align">
    <!-- SAVE BUTTON -->
    <div class="fixed-action-btn">
        <a class="btn btn-large waves-effect waves-light green" href="#!" onclick="submitTest()"><i class="material-icons">send</i></a>
    </div>
</div>
<% } %>

<div class="row right-align">
    <div class="fixed-action-btn hide-on-med-and-up">
        <a href="#!" class="link link-simple waves-effect waves-light btn btn-floating btn-large floating-action" data-command = "ESCUELA CURSO" data-query="<%= chapter.course %>"><i class="material-icons">format_list_numbered</i></a>
    </div>
    <a href="#!" class="link link-simple waves-effect waves-light btn btn-floating btn-large hide-on-small-only" data-command = "ESCUELA CURSO" data-query="<%= chapter.course %>"><i class="material-icons">format_list_numbered</i></a>
</div>
