<div class="row">
    <div class="col s12 m12 l12 xl12">
        <% if (course.repeated) { %>
        <table width="100%" class="stripped highlight">
            <tr>
                <td align="center" bgcolor="#F6CED8">
                    <p>
                        <small>Hemos creado nuevas pruebas para que retomes este curso. Pasa todas las
                            pruebas nuevamente; puedes leerte de nuevo el contenido de ser necesario.
                        </small>
                    </p>
                </td>
            </tr>
        </table>
        <% } %>
    </div>
</div>
<% if (course.progress == 100 && course.calification > 80) { %>
<div class="row">
    <div class="col s12 m12 l12 xl12 text-center" style="text-align:center;">
        <span style="font-size: 3em;"><b>&iexcl;Felicidades!</b></span>
        <p align="center">
            Usted ha concluido el curso "<%= course.title %>" con <b><%= course.calification %></b> puntos y ha ganado esta medalla.<br/>
            <i class="material-icons medal" style="font-size: 4em;margin-top:10px; margin-bottom:10px;margin-right: 0px;"><%= course.medal %></i><br/>
            <% if (course.rated === "0") {%>
                <div id="rate-stars" style="text-align:center;">
                Valore este curso:<br/>
                <% for(var k = 0; k < 5; k++) {%>
                    <a href="#!" class="star-link" data-query="{course: <%= course.id %>, stars: <%= k %>}"><i class="material-icons">star_border</i></a>
                <% } %></div>
                <br/>
            <% } %>
            <a href="#!" class="waves-effect waves-light btn-small link link-simple" data-command="ESCUELA PERFIL" data-query="{}">Ver medallas</a>
        </p>
    </div>
</div>
<% } %>
<div class="row">
    <div class="col s12 m12 l12 xl12">
        <h1><%= course.title %></h1>
            <div class="progress">
                <div class="determinate" style="width: <%= course.progress %>%"></div>
            </div>
            <div class="row">
                <div class="col col-lg-1 col-md-1 col-sm-1">
                     <i class="material-icons dp48"><%= course.medal %></i>
                </div>
                <div class="col col-lg-11 col-md-11 col-sm-11">
                    <%= course.content %>
                </div>
            </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12">

        <h2>&Iacute;ndice del curso</h2>

        <table class="stripped highlight" width="100%">
            <% course.chapters.forEach(function(chapter){ %>
            <tr>
                <td>
                    <a href="#!" class="link link-simple" data-command="ESCUELA <%= chapter.xtype %>"
                       data-query="<%= chapter.id %>"><%= chapter.title %></a>
                </td>
                <td align="right" style="text-align:right;">
                    <% if (chapter.xtype == 'CAPITULO') { %>
                    <% if (chapter.terminated) { %>
                    <i class="material-icons">check_box</i>
                    <% } else { %>
                    <i class="material-icons">check_box_outline_blank</i>
                    <% } %>
                    <% } else { %>
                    <%= chapter.calification %>/100 puntos
                    <% } %>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12">
        <% if (course.calification < 80) { %>
            <% if (course.all_chapters_finished) { %>
            <a href="#!" class="waves-effect waves-light btn-small link link-simple" data-command="ESCUELA REPETIR" data-query="<%= course.id %>">Repetir</a>
            <% } %>
        <% } %>
    </div>
</div>