<div class="row">
    <div class="col s12 m12 l12 xl12">
        <% if (course.repeated) { %>
        <table width="100%" class="stripped highlight">
            <tr>
                <td align="center" bgcolor="#F6CED8">
                    <p>
                        <small>Hemos creado nuevas pruebas para que retomes este curso. Pasa todas las
                            pruebas nuevamente; puedes leerte de nuevo el contenido de ser necesario.
                        </small>
                    </p>
                </td>
            </tr>
        </table>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12 xl12">

    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12">
        <h1><%= course.title %></h1>
            <div class="progress">
                <div class="determinate" style="width: <%= course.progress %>%"></div>
            </div>
        <p>
            <b><%= course.progress %>%</b> terminado,
            <b><%= course.total_seen %>/<%= course.total_chapters %></b> cap&iacute;tulos le&iacute;dos,
            <b><%= course.total_answered %>/<%= course.total_tests %></b> pruebas terminadas,
            <% if (course.calification > 0) { %>
            <b><nobr><%= course.calification %> puntos</nobr></b> de calificaci&oacute;n
            <% } %>
        </p>
        <p><%= course.content %></p>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12">

        <h2>&Iacute;ndice del curso</h2>

        <table class="stripped highlight" width="100%">
            <% course.chapters.forEach(function(chapter){ %>
            <tr>
                <td>
                    <a href="#!" class="link link-simple" data-command="ESCUELA <%= chapter.xtype %>"
                       data-query="<%= chapter.id %>"><%= chapter.title %></a>
                </td>
                <td align="right">
                    <% if (chapter.xtype == 'CAPITULO') { %>
                    <% if (chapter.terminated) { %>
                    <i class="material-icons">check_box</i>
                    <% } else { %>
                    <i class="material-icons">check_box_outline_blank</i>
                    <% } %>
                    <% } else { %>
                    <%= chapter.calification %> puntos
                    <% } %>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12">
        <% if (course.calification < 80) { %>
        <% if (course.all_chapters_finished) { %>
        <a href="#!" class="waves-effect waves-light btn-small link link-simple" data-command="ESCUELA REPETIR" data-query="<%= course.id %>">Repetir</a>
        <% } %>
        <% } else { %>
        <a href="#!" class="waves-effect waves-light btn-small link link-simple" data-command="ESCUELA CERTIFICADO" data-query="<%= course.id %>">Certificado</a>
        <% } %>
        <a href="#!" class="waves-effect waves-light btn-small link link-simple" data-command="ESCUELA">Cursos</a>
    </div>
</div>