<% var resumeFiltered = []; %>
<% resume.forEach(function(e) {
    if (e.viewed >= e.chapters - e.tests && e.answers_choosen >= e.questions) {
        resumeFiltered.push(e);
    }
}); %>

<div class="row">
    <div class="col s12">
        <% if (resumeFiltered.length > 0) {%>
        <h1>Medallas</h1>
        <p>Sus medallas recibidas por los cursos que ha pasado</p>
        <% resumeFiltered.forEach(function(e, i){ %>
            <i class="material-icons medium" onclick="showModal('Usted gan&oacute; esta medalla el <%= formatDate(e.answer_date) %> al completar el curso &nbsp;<i><%= e.title %></i>')"><%= e.medal %></i>
        <% }); %>
        <% } %>
        <p>Tu nivel actual es de <b><%= profile.level %></b>. Completa tu perfil para ganar niveles y medallas: </p>
        <form class="center-align">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="first_name" type="text" class="validate" value="<%=profile.firstName%>">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="last_name" type="text" class="validate" value="<%= profile.lastName %>">
                    <label for="last_name">Apellido</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="gender">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <label>Sexo</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="datepicker" id="date_of_birth">
                    <label for="date_of_birth">Cumpleaños</label>
                </div>

                <!-- HIGHEST SCHOOL LEVEL-->
                <div class="input-field col s12 m6">
                    <select id="highest_school_level" class="validate">
                        <option value=""></option>
                        <% Object.keys(education).forEach(function(key){ %>
                            <% var selected = key==profile.education ? 'selected' : '' %>
                            <option <%= selected %> value="<%= key %>"><%= education[key] %></option>
                        <% }) %>
                    </select>
                    <label for="highest_school_level">Nivel Educativo</label>
                </div>

                <!-- OCCUPATION -->
                <div class="input-field col s12 m6">
                    <select id="occupation" class="validate">
                        <option value=""></option>
                        <% Object.keys(occupation).forEach(function(key){ %>
                            <% var selected = key==profile.occupation ? 'selected' : '' %>
                            <option <%= selected %> value="<%= key %>"><%= occupation[key] %></option>
                        <% }) %>
                    </select>
                    <label for="occupation">Ocupación</label>
                </div>

                <!-- PROVINCE-->
                <div class="input-field col s12 m6">
                    <select id="province" class="validate">
                        <option value=""></option>
                        <% Object.keys(provinces).forEach(function(key){ %>
                            <% var selected = key==profile.provinceCode ? 'selected' : '' %>
                            <option <%= selected %> value="<%= key %>"><%= provinces[key] %></option>
                        <% }) %>
                    </select>
                    <label for="province">Provincia</label>
                </div>
            </div>
        </form>
    </div>
</div>

<br>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light save"><i class="material-icons">save</i></a>
</div>
