<% var resumeFiltered = []; %>
<% resume.forEach(function(e) {
    if (e.viewed >= e.chapters - e.tests && e.answers_choosen >= e.questions) {
        resumeFiltered.push(e);
    }
}); %>

<div class="row">
    <div class="col s12">
        <% if (resumeFiltered.length > 0) {%>
        <h1>Medallas</h1>
        <p>Sus medallas recibidas por los cursos que ha pasado</p>
        <% resumeFiltered.forEach(function(e, i){ %>
            <i class="material-icons medium" onclick="showModal('Usted gan&oacute; esta medalla el <%= formatDate(e.answer_date) %> al completar el curso &nbsp;<i><%= e.title %></i>')"><%= e.medal %></i>
        <% }); %>
        <% } %>
        <p>Tu nivel actual es de <b><%= profile.level %></b>. Completa tu perfil para ganar niveles y medallas: </p>
        <form class="center-align">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="first_name" type="text" class="validate" value="<%=profile.first_name%>">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="last_name" type="text" class="validate" value="<%= profile.last_name %>">
                    <label for="last_name">Apellido</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="gender">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <label>Sexo</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="datepicker" id="date_of_birth">
                    <label for="date_of_birth">Cumpleaños</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="highest_school_level">
                        <option value="" disabled selected></option>
                        <option value="PRIMARIO">Primario</option>
                        <option value="SECUNDARIO">Secundario</option>
                        <option value="TECNICO">T&eacute;cnico</option>
                        <option value="UNIVERSITARIO">Universitario</option>
                        <option value="POSTGRADUADO">Postgraduado</option>
                        <option value="DOCTORADO">Doctorado</option>
                        <option value="OTRO">Otro</option>
                    </select>
                    <label>Nivel educativo</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="occupation">
                        <option value="" disabled selected></option>
                        <option value="TRABAJADOR ESTATAL">Trabajador estatal</option>
                        <option value="CUENTAPROPISTA">Cuentapropista</option>
                        <option value="ESTUDIANTE">Estudiante</option>
                        <option value="AMA DE CASA">Ama de casa</option>
                        <option value="DESEMPLEADO">Desempleado</option>
                        <option value="OTRO">Otro</option>
                    </select>
                    <label>Ocupación</label>
                </div>
                <!--
                <div class="input-field col s12 m6">
                    <select id="country" class="input">
                        <option value="" disabled selected></option>
                        <option value="CU">Cuba</option>
                        <option value="US">Estados Unidos</option>
                        <option value="ES">España</option>
                        <option value="IT">Italia</option>
                        <option value="MX">Mexico</option>
                        <option value="BR">Brasil</option>
                        <option value="EC">Ecuador</option>
                        <option value="CA">Canada</option>
                        <option value="VE">Venezuela</option>
                        <option value="AL">Alemania</option>
                        <option value="CO">Colombia</option>
                        <option value="OTRO">Otro</option>
                    </select>
                    <label>País</label>
                </div>
                -->
                <div id="province-section" class="input-field col s12 m6">
                    <select id="province" class="input">
                        <option value="" disabled selected></option>
                    </select>
                    <label>Provincia</label>
                </div>
                <!--
                <div id="usstate-section" class="input-field col s12 m6">
                    <select id="usstate" class="input">
                        <option value="" disabled selected></option>
                    </select>
                    <label>Estado</label>
                </div>-->
            </div>
        </form>
    </div>
</div>

<br>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light text-green save"><i class="material-icons">save</i></a>
</div>
