<div class="row" style="word-break: break-word;">
    <div class="col s12">
        <h1><%= chapter.title %></h1>
        <%- chapter.content %>
    </div>
</div>

<% if (chapter.xtype == 'PRUEBA') { %>
    <div class="row">
        <div class="col s12">
            <% if (chapter.terminated) { %>
                <p align="center"
                   style="background-color:<% if ( chapter.calification >= 80) { %> green <% } else { %>#C11414<% } %>; color:white; padding:5px;">
                    <b>Terminada con <%= chapter.calification %> puntos de 100</b>
                </p>
            <% } %>

            <% chapter.questions.forEach(function(question) { %>
                <%= question.title %><br/>
                <% question.answers.forEach(function(answer){ %>
                    <% if (question.terminated) { %>
                        <% if (question.answer_choosen == answer.id) { %>
                            -&nbsp;<b><%= answer.title %></b>
                        <% } else { %>
                            -&nbsp;<%= answer.title %>
                        <% } %>
                        <% if (question.answer == answer.id) { %>
                            <span style="color:gray;">&#10004;</span>
                        <% } %> <br/>
                    <% } else { %>
                        <% var checked = answer.choosen ? 'checked' : '' %>
                        <label>
                            <input class="with-gap answer" name="<%= question.id %>"
                                   value="<%= answer.id %>" <%= checked %> type="radio"/>
                            <span><%= answer.title %></span>
                        </label>
                    <% } %>
                <% }); %>
            <% }); %>
        </div>
    </div>


<% } %>

<div class="bottom-space"></div>

<div id="btn" class="fixed-action-btn">
    <% var showAfter = false; %>
    <% var showBefore = false; %>
    <% var showCheck = false; %>

    <% function secondButton() { %>
        <a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.send({command: 'ESCUELA CURSO', data: {query: '<%= chapter.course %>'}})">
            <i class="material-icons">format_list_numbered</i>
        </a>
    <% } %>

    <% if (chapter.xtype != 'PRUEBA') { %>
        <% if (!(chapter.xtype == 'PRUEBA' && course.all_chapters_finished)) { %>
            <% if (after) { %>
                <% showAfter = true; %>
            <% } %>
        <% } %>
    <% } %>

    <% if (chapter.xtype == 'PRUEBA') { %>
        <% if (!chapter.terminated) { %>
            <!-- SAVE BUTTON -->
            <% showCheck = true; %>
        <% } %>
    <% } %>

    <% if (before) { %>
        <% showBefore = true; %>
    <% } %>

    <% if (!showAfter && !showCheck) secondButton(); %>

    <% if (showBefore) { %>
        <a class="btn-floating waves-effect waves-light <% if (showAfter || showCheck) { %> grey third <% } else { %> green btn-large <% } %>" href="#!" onclick="apretaste.send({command: 'ESCUELA <%= before.xtype %>', data: {query: '<%= before.id %>'}});">
            <i class="material-icons">arrow_back</i>
        </a>
    <% } %>

    <% if (showAfter || showCheck) secondButton(); %>

    <% if (showAfter) { %>
        <a href="#!" class="btn-floating btn-large waves-effect waves-light green <% if (showCheck) { %> second <% } %>" onclick="apretaste.send({command: 'ESCUELA <%= after.xtype %>', data:{query: '<%= after.id %>'}});">
            <i class="material-icons">arrow_forward</i>
        </a>
    <% } %>

    <% if (showCheck) { %>
        <a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="submitTest()">
            <i class="material-icons">check</i>
        </a>
    <% } %>

</div>